{% extends "base.html.twig" %}
{% block title %}
	Detail Article
{% endblock %}
{% block body %}
	{% block header %}{% endblock %}
	<div class="container">
		<section class="detail-content">
			<article class="post">
				<img src="{{ asset("uploads/img/" ~ article.images) }}" alt=""/>
				<h2>{{ article.title }}</h2>
				<p>
					{{ article.description }}
				</p>
				<blockquote>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti
																		doloribus voluptas asperiores accusantium, sequi optio ab voluptate
																		repellendus laudantium minus similique debitis perspiciatis. Vitae,
																		perspiciatis? Accusantium ipsum temporibus quam eveniet!
					</p>
					<cite>&#8212; Micheal Martin</cite>
				</blockquote>
				<div class="resto-img">
					<img src="/img/restaurant2.bmp" alt=""/>
					<img src="/img/restaurant3.bmp" alt=""/>
				</div>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui illum
															officiis sed autem corporis voluptatibus quidem quam repellendus culpa
															quasi, placeat ea praesentium maiores iusto odio ad ratione sunt amet
															soluta vitae vero quaerat accusamus nihil. Debitis magni possimus
															quaerat quia totam commodi provident, rem ipsum dignissimos autem
															accusamus esse.
				</p>
			</article>
			<div class="comment">
				<div class="user-img">
					<img src="/img/user.bmp" alt=""/>
				</div>
				<div class="comment-content">
					<span>
						<div class="rating-star"></div>
						<div class="rating-star"></div>
						<div class="rating-star"></div>
						<div class="rating-star"></div>
						<div class="rating-star"></div>
					</span>

					<h3>Robert Martin &nbsp;<span>29 October 2022</span>
					</h3>

					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis
												voluptas sed aliquam cum incidunt sit, quaerat optio dolore, quasi
												mollitia sequi, labore atque ea explicabo laboriosam ut soluta
												laborum. Aperiam.
					</p>
					<a href="#">Reply &#10550;</a>
				</div>
			</div>
			<div class="comment-section">
				<h3>Leave a Reply</h3>
				<form action="">
					<input type="text" placeholder="Full Name" required/>
					<input type="text" placeholder="Email Address" required/>
					<textarea name="message" id="message" cols="40" rows="4" placeholder="Your Comment" required></textarea>
					<button class="btn2" type="submit">send comment</button>
				</form>
			</div>
		</section>
		{% block sidebar %}
			{{parent()}}
		{% endblock %}
	</div>
{% endblock %}
