@import url("https://fonts.googleapis.com/css?family=Open+Sans");

body {
  background-color: #f2f2f2;
  font-family: "Open Sans", sans-serif;
}

/* START MENU BAR */
.content {
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header {
  width: 100%;
  background-color: #2f2f2f;
  margin-bottom: 60px;
}

.logo img {
  width: 100px;
  padding-top: 15px;
}

.toggler {
  cursor: pointer;
  position: absolute;
  top: 40px;
  right: 50px;
}

.toggler svg rect {
  fill: #e72b54;
}

/* START NAVIGATION */
nav {
  width: 100%;
  display: none;
  margin: 0 20px;
}

nav ul {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: #f2f2f2;
  font-size: 20px;
  line-height: 40px;
  transition: 0.3s ease-out;
}

nav ul li a:hover {
  color: #e72b54;
}

.active {
  color: #e72b54;
}

.side-nav {
  text-align: center;
}

.side-nav a {
  text-decoration: none;
  color: #e72b54;
  padding-right: 15px;
  line-height: 40px;
}

/* END NAVIGATION */
section {
  text-align: center;
  font-size: 10px;
  color: #2f2f2f;
  margin-bottom: 20px;
}

#info {
  padding-top: 200px;
  text-align: center;
  color: #e72b54;
}

@media screen and (min-width: 768px) {
  header .content {
    padding: 0 50px;
    display: flex;
    justify-content: flex-start;
  }

  header .content nav {
    justify-self: unset;
  }

  .toggler {
    display: none;
  }

  nav {
    display: flex;
    position: relative;
    width: auto;
    padding: 5px 0;
    justify-content: center;
  }

  nav ul {
    display: flex;
  }

  nav ul li {
    padding: 0 30px;
  }
}
