* {
  box-sizing: border-box;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 0;
  height: 100%;
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75em;
  overflow-x: hidden !important;
}

p {
  font-family: "Barlow", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.75em;
  color: #666;
  margin-bottom: 20px;
}

.container {
  display: flex;
  margin: auto;
  flex-direction: column;
}


.listing-post,
.detail-content {
  padding: 0 15px;
}

.listing-post article {
  overflow: hidden;
  padding-bottom: 50px;
}

.main-img {
  width: 100%;
  max-height: 500px;  
  object-fit: cover;
}

.error {
  text-align: center;
}
.error img {
  aspect-ratio: unset;
  object-fit: contain;
}

.title,
.title a {
  font-family: "Gilda Display", serif;
  font-weight: 400;
  line-height: 1.25em;
  margin: 0 0 20px 0;
  font-size: 1.75rem;
  color: #222;
}

.widget ul li a {
  color: #666;
}

.tag {
  display: inline-block;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 3px;
  color: #aa8453;
  font-family: "Barlow", sans-serif;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.btn {
  position: relative;
  line-height: 1.2em;
  z-index: 1;
}

.btn a {
  font-weight: 400;
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  background: #ab8a62;
  color: #fff;
  padding: 13px 22px;
  margin: 0;
  position: relative;
  font-size: 15px;
  letter-spacing: 3px;
  cursor: pointer;
}

.btn a span,
.btn2 span {
  position: relative;
  z-index: 1;
}

.btn:hover {
  border: 0px solid transparent;
}

.btn a:hover:before,
.btn2:hover:before {
  width: 100%;
  left: 0;
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease;
}

.btn a:before,
.btn2:before {
  content: "";
  width: 0;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 100%;
  z-index: 1;
  background: #222;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn2:before {
  z-index: -1;
}
.title a:hover {
  color: #aa8453;
}

#comment textarea {
  min-height: 150px;
}

textarea:focus,
input[type="text"]:focus {
  outline: none;
  border-bottom-width: 1px;
  border-color: #aa8453;
}

.pagination {
  text-align: center;
}

.pagination span {
  display: inline-block;
  margin: 0 5px;
}

.pagination span a,
.pagination span.current {
  background: transparent;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 37px;
  text-align: center;
  color: #666;
  font-weight: 400;
  border: 1px solid rgba(102, 102, 102, 0.1);
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  border-radius: 100%;
}

.pagination span a:hover,
.pagination span.current {
  border-color: #aa8453;
}

.side-bar .widget {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  background: #f8f5f0;
  padding: 30px;
  margin-bottom: 30px;
  overflow: hidden;
}

.title-widget {
  font-family: "Gilda Display", serif;
  font-weight: 400;
  line-height: 1.75em;
  padding-bottom: 5px;
  margin: 15px 0;
  border-bottom: 1px solid #eee3d0;
  color: #222;
  font-size: 1.5rem;
}

.widget ul li a {
  padding: 10px;
}

.side-bar .recent ul {
  margin: 0;
  padding: 0;
}

.side-bar .recent ul li {
  display: flex;
}

.side-bar .recent img {
  width: 90px;
  height: auto;
  object-fit: cover;
  overflow: hidden;
  padding: 5px 0;
  aspect-ratio: 1/1;
}

.side-bar .search form button {
  appearance: none;
  border: none;
  cursor: pointer;
}
.side-bar .search form {
  display: flex;
  gap: 8px;
}
.side-bar .search form input {
  width: 100%;
  padding: 10px;
  border: 0;
  background: #fff;
  margin-bottom: 0;
}

.tags ul li a {
  margin: 3px;
  padding: 8px 20px;
  background-color: #fff;
  border: 1px solid #fff;
  color: #666;
  float: left;
}

.tags ul li a:hover {
  background-color: #aa8453;
  color: #fff;
}

.content-img {
  display: flex;
  overflow: hidden;
}

.content-img:hover img {
  transform: scale(1.05);
  transition: all 1s ease-in-out;
}

.side-bar {
  margin-top: 50px;
}

.side-bar a:hover {
  color: #aa8453;
}

.alert {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 15px;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  font-size: 14px;
  width: 100%;
  justify-content: center;
  margin: 25px 0 50px 0;
}
.alert.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}
.alert.alert-error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}


@media only screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 720px;
    flex-direction: row;
    justify-content: center;
  }

  .listing-post,
  .detail-content {
    width: 66.66666667%;
  }

  .post {
    flex: 0 0 auto;
    width: 100%;
  }

  .recent img {
    min-width: 90px;
  }

  .side-bar {
    flex: 1;
    max-width: 33%;
    padding: 0 15px;
    margin-top: 0;
  }

  .search {
    margin-top: 0;
  }
}
@media only screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
