<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>
			{% block title %}{% endblock %}
		</title>
		{% block stylesheets %}
			<link rel="stylesheet" href="{{asset("css/style.css") }}"/>
			<link rel="stylesheet" href="{{asset("css/detail.css") }}"/>
		{% endblock %}
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Barlow&amp;family=Barlow+Condensed&amp;family=Gilda+Display&amp;display=swap"/>
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/> {% block javascripts %}{% endblock %}
		</head>
		<body>
			{% block body %}{% endblock %}
		</body>
	</html>
